<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <h2 class="alert alert-info display-5 text-center">FORMULARIO DE WARFRAMES</h2>

        <form method ="post" class="bg-light p-4">
            {{ form.as_p }}

            {% if form.errors %}
        <div class="alert alert-danger">
            {% for field in form %}
                {% for error in field.errors %}
                    <p>{{ field.label }}: {{ error }}</p>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}

            {% csrf_token %}
            <div class="d-flex justify-content">
                <input type="submit", value="Enviar" class="btn btn-primary">
            </div>
        </form>

        <div class="mt-3">
            <a href="/" class="btn btn-danger">INICIO</a>
            <a href="/WarframeListado" class="btn btn-success">LISTADO</a>
        </div>

    </div>
</body>
</html>