<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LISTADO</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="container mt-5">
    <div class="alert alert-info display-1 text-center">LISTADO DE WARFRAMES</div>

    {% if listado %}
    <table class="table table-striped table-inverse table-resposive">
        <thead class="thead-inverse">
            <tr>
                <th>Nombre</th>
                <th>Critical Utility</th>
                <th>Critical DMG</th>
                <th>Status Utility</th>
                <th>Actualizar</th>
                <th>Eliminar</th>
            </tr>
        </thead>

        <tbody>
            {% for listado in listado %}
            <tr>
                <td>{{ listado.WarframeNombre }}</td>
                <td>{{ listado.CriticalUtility }}</td>
                <td>{{ listado.CriticalDMG }}</td>
                <td>{{ listado.StatusUtility }}</td>
                <td><a href="/ModificarDatos/{{ listado.id }}" class="btn btn-success btn-sm"><i class="bi bi-pencil"></i></td>
                <td><a href="/EliminarWarframe/{{ listado.id }}" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <div class="alert alert-primary" role="alert">
        <strong>No se encontraron datos</strong>
    </div>


    {% endif %}

    <a href="/" class="btn btn-danger">INICIO</a>
    <a href="/AgregarWarframe" class="btn btn-info float-end">AGREGAR</a>

</body>
</html>